@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fcf8;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.animatedButton{
  animation-duration: 10000ms;
}
