@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5fdf0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #0d1b04;
}

.animatedButton {
  animation-duration: 10000ms;
}
